@model QLPhong.Models.ChiTietHoaDon
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
@{
    ViewData["Title"] = "ChiTietHD";
    Layout = "~/Views/Shared/_LayoutRoom.cshtml";
}

<style>
    /* Tùy chỉnh CSS để tạo khung viền cho nội dung */
    .custom-card {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        padding: 15px;
        margin: 20px 0;
    }
</style>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card custom-card">
                <div class="card-header">Chi Tiết Hóa Đơn</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Mã Hóa Đơn</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaHoaDon)</dd>

                        <dt class="col-sm-3">Số Phòng</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MaPhongNavigation.SoPhong)</dd>

                        <dt class="col-sm-3">Tiền Phòng</dt>
                        <dd class="col-sm-9">@string.Format("{0:C0}", Model.TienPhong)</dd>

                        <dt class="col-sm-3">Tiền Điện</dt>
                        <dd class="col-sm-9">@string.Format("{0:C0}", Model.TienDien)</dd>

                        <dt class="col-sm-3">Tiền Nước</dt>
                        <dd class="col-sm-9">@string.Format("{0:C0}", Model.TienNuoc)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Quay về trang hóa đơn", "DanhMucHoaDon")
</p>
