@model QLPhong.Models.KhachThue

@{
    ViewData["Title"] = "EditKH";
    Layout = "~/Views/Shared/_LayoutRoom.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sửa phòng</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Chỉnh màu nền và khoảng cách giữa các phần tử */
        body {
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        /* Đặt phần tiêu đề ở giữa và làm đậm */
        h4 {
            text-align: center;
            font-weight: bold;
            margin: 20px 0;
        }

        /* Định dạng phần form */
        .form-horizontal {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px #d3d3d3;
        }

        /* Định dạng các phần tử input và nút */
        .form-control {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .checkbox {
            margin: 0;
        }

        /* Định dạng nút "Thêm phòng" */
        .btn-primary {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
        }

        /* Định dạng liên kết "Back to List" */
        a.btn-default {
            display: block;
            text-align: center;
            background-color: #ccc;
            padding: 10px;
            text-decoration: none;
            color: #333;
            border-radius: 4px;
        }
    </style>
</head>


<body>

    @using (Html.BeginForm("EditKH", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <h2>Chỉnh sửa thông tin KhachThue</h2>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.Hidden("MaPhongCu", Model.MaPhong)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaKhachThue)

            <div class="form-group">
                @Html.LabelFor(model => model.HoTenDem, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoTenDem, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoTenDem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cmnd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cmnd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cmnd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DienThoai, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayVaoO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayVaoO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayVaoO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayTraPhong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayTraPhong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayTraPhong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Mã phòng
                <div class="col-md-10">
                    @if (Model.MaPhongNavigation == null)
                    {
                        @Html.DropDownList("MaPhong", (SelectList)ViewBag.MaPhongList, "Chọn số phòng", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaPhong, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.DropDownList("MaPhong", (SelectList)ViewBag.MaPhongList, Model.MaPhongNavigation.SoPhong, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaPhong, "", new { @class = "text-danger" })
                    }

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về danh mục khách thuê", "DanhMucKhachThue")
    </div>
</body>
</html>